.listing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookingform {
  width: 30%;
  height: 530px;
  border: 1px solid #e4e4e4;
  padding: 20px;
  margin: 20px;
  margin-bottom: 30px;
  h4 {
    font-size: 18px;
    font-weight: 700;
  }
}
.listing-info {
  width: 60%;
  height: 300px;
  padding: 10px;
  top: 0px;
  p {
    font-size: 15px;
    opacity: 0.8;
  }
  h2 {
    margin-top: 0px;
    font-size: 25px;
    font-weight: 700;
  }
  h3 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
  }
  h5 {
  font-weight: 500;
  color: red;
  font-size: 13px;
  letter-spacing: 1.2px;
  }
}

.small-info {
  font-size: 12px;
  display: inline;
}

.medium-info {
  font-size: 14px;
}

