.listing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookingform {
  width: 30%;
  height: 530px;
  border: 2px solid #aaaaaa;
  padding: 20px;
  margin: 20px;
  margin-bottom: 30px;
  h4 {
    font-size: 18px;
    font-weight: 700;
  }
}
.listing-info {
  position: relative;
  width: 60%;
  height: 300px;
  padding: 10px;
  top: 0px;
  p {
    font-size: 15px;
    opacity: 0.8;
  }
  h2 {
    margin-top: 0px;
    font-size: 25px;
    font-weight: 700;
  }
  h3 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
  }
  h5 {
  font-weight: 500;
  color: red;
  font-size: 13px;
  letter-spacing: 1.2px;
  }
  .avatar-show {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 1px solid #fdfdfd;
  }
}
