<%= render 'shared/navbar' %>
<div class="container">

  <h1>Inbox</h1>

  <div class="tabs">

    <%= link_to "Travelling", bookings_path(tab: 'my_bookings'), class: "#{'active' if @tab == 'my_bookings'} tab" %>
  <% if current_user.host? %>
    <%= link_to "Hosting", bookings_path(tab: 'my_hostings'), class: "#{'active' if @tab == 'my_hostings'} tab" %>
  <% end %>

  </div>
    <ul class="inbox" style="padding-left: 0px,
    list-style: none,
    border: 1px solid #dce0e0,
    padding: 0 20px,
    margin: 0">

    <%= render @tab, bookings: @bookings %>
  </ul>
</div>



