<div class="listingbanner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @listing.photo, :gravity=>"auto", :height=>1143, :quality=>"auto", :width=>2763, :crop=>"fill" %>')">
  <div class="container">
    <h1><%= @listing.name %></h1>
  </div>
</div>
