._1lt1fimm {
    position: absolute !important;
    animation-name: keyframe_18jn58a !important;
    animation-duration: 300ms !important;
    animation-timing-function: ease-out !important;
    background-size: contain !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
