.inbox {
  padding-left: 0px;
  list-style: none;
  border: 1px solid #dce0e0;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 40px;
}


/* tabs */
.tabs {
  display: flex;
  align-items: center;
}

.tab.active {
  border-bottom: 5px solid #00A699;
  padding: 10px;
  color: black;
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
}

.tab {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    opacity: 0.4;
    border-bottom: 5px solid transparent;
    color: black;
}
a {
  text-decoration: none;
  color: black;
}

/* message cards */
.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dce0e0;
  padding: 10px;
}
.message:last-child {
  border-bottom: none;
}


/* booker's photo */
.booker-photo {
  display: block;
  // margin: 10px;
  padding-right: 10px;
  text-align: center;
  .user-avatar {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
  .listing_photo {
    height: 80px;
    width: 80px;
  }

}

/* user's info (name and date) */

.user {
  display: block;
  align-items: center;
  padding: 10px;
  flex: 0 0 150px;

  // height: 80px;
  // text-align: center;
  p {
    font-size: 10px;

  }
    h3 {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 700;
    margin-top: 5px;
  }
}


/* message excerpt and full message */
.user-message {
  flex: 1 1 200px;
  padding: 10px;
}

p {
  font-size: 13px;
      margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    opacity: 0.8;
  }
}

/* users status and cost */

.user-status {
  flex: 0 0 60px;
  padding-right: 10px;
  font-weight: bold;
  text-align: center;
}

.pending {
  color: black;
  opacity: 0.4;
}

.accepted {
  color: green;
  font-size: 25px;
}

.declined {
  color: red;
  font-size: 25px;
}

/* extra font styling */
.bold {
  font-weight: bold;
  color: #000000;
}

.fade-font {
  font-weight: thin;
  font-size: 10px;
  opacity: 0.6;
}
